.list-group-item {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.list-group-item:hover {
  background-color: #e2e2e2;
}

img {
  transition: transform 0.2s ease-in-out;
}

img:hover {
  transform: scale(1.05);
}
