.cart-body {
    margin: 20px auto;
    max-width: 800px;
  }
  .empty-cart {
    margin-top: 50px;
  }
  .list-group-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  