.list-group-item {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;

}
.list-group-item {
  background-color: #f8f9fb;
}


.list-group-item:hover {
  background-color: #eeeeee;
}

img {
  transition: transform 0.2s ease-in-out;
}

img:hover {
  transform: scale(1.05);
}
