#about-us h2 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.content-section {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.content-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(50% - 1rem);
  max-width: calc(50% - 1rem);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.content-card h2 {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
}

.content-card p {
  color: #666666;
  line-height: 1.6;
}

.content-card ul {
  padding-left: 1.2rem;
  margin-top: 1rem;
}

.content-card ul li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
}

.content-card ul li:hover {
  color: #467a6b;
}

.content-card ul li i {
  color: #609e8d;
  margin-right: 0.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.content-card ul li:hover i {
  color: #609e8d;
  transform: scale(1.2);
}

.location-section {
  margin-top: 3rem;
}

.location-section h2 {
  color: #000000;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.location-section p {
  color: #666;
  margin-bottom: 1rem;
}

.location-section iframe {
  border-radius: 8px;
  border: 1px solid #ddd;
}

.location-section a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.location-section a:hover {
  text-decoration: underline;
  color: #0056b3;
}