.pagination-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #000000;
    color: white;
    border-color: #000000;
  }
  
  .pagination .page-item .page-link {
    color: #000000;
  }
  
  .pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
  