.footer {
  background-color: #c7d6cf;
  color: #000000;
  padding: 4vh 2rem;
  font-family: "Poppins", sans-serif;
  flex-shrink: 0;
  margin-top: 10vh;
  
  position: relative; 
  bottom: 0;
  left: 0;
  width: 100%;

}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;    
  flex-wrap: wrap;
  gap: 1vh;
}

.footer-menu ul {
  list-style: none;
  padding: 0;
  display: flex;         
  justify-content: center; 
  gap: 1.3rem;
  margin: 0; 
}

.footer-menu li {
  margin: 0; 
}

.footer-menu a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
  font-size: 0.8rem;
}

.footer-menu a:hover {
  color: #ffffff;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 2.2rem;
  margin-bottom: 1.3rem;
}

.social-icon {
  font-size: 1.2rem;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #467a6b;
}

.footer-bottom {
  text-align: center;
  margin-top: 4vh;
  font-size: 1.6vh;
  font-weight: bold;
}

.footer-bottom p {
  color: #000000;
  margin: 0;
}
