.footer {
  background-color: #c7d6cf;
  color: #000000;
  padding: 4vh 2rem;
  font-family: "Poppins", sans-serif;
  flex-shrink: 0;
}

.footer-content {
  display: flex;
  justify-content: center; /* Centers the entire footer content horizontally */
  align-items: center;    /* Aligns items vertically */
  flex-wrap: wrap;
  gap: 1vh;
}

/* Align menu items horizontally and center them */
.footer-menu ul {
  list-style: none;
  padding: 0;
  display: flex;          /* Make the items display in a row */
  justify-content: center; /* Center items horizontally */
  gap: 1.3rem;              /* Add spacing between items */
  margin: 0;              /* Remove default margin */
}

.footer-menu li {
  margin: 0; /* Remove any extra margins */
}

.footer-menu a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
  font-size: 0.8rem; /* Adjust font size */
}

.footer-menu a:hover {
  color: #ffffff; /* Change color on hover */
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 2.2rem;
  margin-bottom: 1.3rem;
}

.social-icon {
  font-size: 1.2rem;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #467a6b;
}

.footer-bottom {
  text-align: center;
  margin-top: 4vh;
  font-size: 1.6vh;
  font-weight: bold;
}

.footer-bottom p {
  color: #000000;
  margin: 0;
}
