.container {
  margin-top: 2vh;
  margin-bottom: 2vh;

}
  
  .nav-link:hover {
    border-bottom: 1px solid #57756a; 
  }

  .headerIcons:hover{
    font-weight: 400;
    color: rgba(97, 146, 136, 0.75);

  }