.product-item-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: 45vh;
  /* width:55vh; */
  /* position: relative; */
  transition: opacity 0.3s ease, transform 0.3s ease; 
}

.product-item-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}

.product-info{
margin-left: 2vh;
}

.price{
  color: rgb(14, 116, 77);
  margin-right: 1.5vh;
  text-decoration: line-through;
}

.discounted {
  color: rgb(165, 2, 2)(204, 7, 7);
}

.product-item-image {
  width: 100%;
  height: 100%;
  /* margin-top: 50%; */
  margin-left: 2vh;
  object-fit: contain;
  transition: opacity 0.3s ease; 
}

.card-body {
  padding: 1rem;
  margin-top: 3vh;
  margin-left: 2.5vh;
  position: relative;
  transition: opacity 0.3s ease; 
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1vh;
  margin-bottom: 2vh;
  transition: opacity 0.3s ease;
}

.card-text {
  margin-bottom: 0.5rem;
  margin-top: 1vh;
  transition: opacity 0.3s ease; 
 
}

/* On hover, hide the image and the text details */
.product-item-card:hover .product-item-image,
.product-item-card:hover .card-body {
  opacity: 0.08; /* Hide the image and text */
  
}

.btn-primary {
  position: absolute;
  bottom: 50%; 
  left: 50%; 
  transform: translate(-50%, 50%); 
  width: 20vh;
  padding: 0.5rem;
  z-index: 1000;
  opacity: 0; 
  pointer-events: none; 
  transition: opacity 0.3s ease, pointer-events 0.3s ease; 
  transition-delay: 0s;
  font-size: small;
  border: 1px solid black; 
  background-color: white; 
  color: black; 
  text-transform: uppercase; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border-radius: 4px; 
}

.product-item-card:hover .btn-primary {
  opacity: 1; 
  pointer-events: auto; 
  transition-delay: 0s; 
}

.btn-primary:hover {
  background-color: #000000; 
  border-color: #ffffff;
  color: #ffffff; 
}

.btn-primary:active{
  background-color: #000000; 
  border-color: #ffffff; 
  color: #ffffff; 
}


.rating {
  padding: auto;
}

.custom-icon {
  font-size: 15px; 
  color: #f39c12; 
  margin-right: 4px;
  transition: transform 0.2s; 
}

.fa-star {
  color: #ffc107;
}

.fa-star-half-o {
  color: #ffc107; 
}

.fa-star-o {
  color: #e0e0e0; 
}
